@import url("./reset.css");

@font-face {
    font-family: "poppins";
    src: url("../fonts/Poppins-Regular.ttf");
}

* {
    font-family: "poppins";
}

:root {
    --color-green: #4cb050;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-light-gray: #f1f1f1;
    --color-gray: #616161;
}

.hero {
    position: relative;
}

.popup {
    display: none;
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 1rem;
    backdrop-filter: brightness(0.3);
    padding: 2rem;
}

.popup p {
    color: var(--color-white);
    text-align: center;
    padding-bottom: 2rem;
}

.popup p:first-child {
    font-size: 1.8rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.popup p:nth-child(3) {
    font-size: 1.3rem;
    margin: 2rem 2rem;
}

.popup hr {
    border: none;
    height: 0.2rem;
    background-color: var(--color-gray);
    width: 100%;
}

.hero .go-download {
    background-color: var(--color-green);
    color: var(--color-white);
    width: 100vw;
    text-align: center;
    padding: 1rem 0;
}

.hero .go-download p {
    font-size: 1.4rem;
}

.take-tour {
    background-color: var(--color-black);
    color: var(--color-white);
    width: 100vw;
}

.take-tour p {
    font-size: 1.4rem;
    text-align: center;
    padding-top: 0.2rem;
    padding-bottom: 1rem;
}

/* The App section */

.the-app {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
}

.the-app .leftside,
.the-app .rightside {
    width: 100%;
}


.the-app .leftside h1 {
    padding-top: 7rem;
    font-size: 5.5rem;
}

.the-app .leftside p:nth-child(2) {
    font-size: 4.5rem;
    font-weight: 600;
    color: #4cb050;
    margin-bottom: 1rem;
}

.the-app .leftside p:nth-child(3) {
    margin-bottom: 1.5rem;

    span {
        font-size: 2.2rem;
    }
}

.the-app .leftside p:nth-child(3),
.the-app .leftside p:nth-child(4),
.the-app .leftside p:nth-child(5) {
    font-size: 1.5rem;
}

.the-app .leftside p:nth-child(5) {
    margin: 2rem 0;
    text-align: center;
}

.the-app .leftside p:nth-child(4) i:nth-child(1) {
    color: #4cb050;
}

.the-app .leftside p:nth-child(4) i:nth-child(2) {
    color: var(--color-black);
}

.the-app .leftside p:nth-child(4) i:nth-child(3) {
    color: #2196f3;
}

.the-app .rightside img {
    margin: 0 auto;
    margin-bottom: 5rem;
}

/* Clarity section */

.clarity {
    width: 100vw;
    background-color: #f1f1f1;
}

.clarity .claritycontainer {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
}

.clarity .claritycontainer .leftside {
    display: none;
}

.clarity .claritycontainer .leftside,
.clarity .claritycontainer .rightside {
    width: 100%;
}

.clarity .claritycontainer .leftside img {
    margin: 0 auto;
}

.clarity .claritycontainer .rightside h2 {
    padding-top: 5rem;
    padding-bottom: 1rem;
    font-size: 6rem;
}

.clarity .claritycontainer .rightside p:nth-child(2) {
    font-size: 3.8rem;
    font-weight: 900;
    color: #f34336;
    margin-bottom: 2.5rem;
}

.clarity .claritycontainer .rightside p:nth-child(3) {
    font-size: 1.5rem;
    padding-bottom: 8rem;

    span {
        font-size: 2.2rem;
    }
}

/* Features section */

.features {
    background-color: var(--color-gray);
    color: var(--color-white);
    text-align: center;
}

.features h2 {
    padding-top: 5rem;
    padding-bottom: 1.4rem;
    font-size: 5.5rem;
}

.features>p {
    font-size: 1.5rem;
}

.features .cardcontainer {
    display: flex;
    flex-wrap: wrap;
    padding: 6rem 4rem;
    row-gap: 4rem;
}

.features .cardcontainer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    height: 8rem;
}

.features .cardcontainer div i {
    font-size: 5rem;
}

.features .cardcontainer div:nth-child(1) i {
    color: #ff9801;
}

.features .cardcontainer div:nth-child(2) i {
    color: #f44236;
}

.features .cardcontainer div:nth-child(3) i {
    color: #d2be0f;
}

.features .cardcontainer div:nth-child(4) i {
    color: #4cb050;
}

.features .cardcontainer div:nth-child(5) i {
    color: #fefefe;
}

.features .cardcontainer div:nth-child(6) i {
    color: #2196f3;
}

.features .cardcontainer div:nth-child(7) i {
    color: #fec106;
}

.features .cardcontainer div:nth-child(8) i {
    color: #00bdd3;
}

.features .cardcontainer div:nth-child(9),
.features .cardcontainer div:nth-child(10),
.features .cardcontainer div:nth-child(11),
.features .cardcontainer div:nth-child(12) {
    display: none;
}

.features .cardcontainer div:nth-child(9) i {
    color: #fdf6e6;
}

.features .cardcontainer div:nth-child(10) i {
    color: #ff9801;
}

.features .cardcontainer div:nth-child(11) i {
    color: #757575;
}

.features .cardcontainer div:nth-child(12) i {
    color: #e91d62;
}

.features .cardcontainer div p {
    font-size: 1.5rem;
    color: var(--color-white);
}

/* Pricing section */

.pricing {
    text-align: center;
}

.pricing h2 {
    padding-top: 5rem;
    padding-bottom: 1.4rem;
    font-size: 5.5rem;
}

.pricing>p {
    font-size: 1.5rem;
    padding-bottom: 6rem;
}

.pricing .pricingcontainer {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 10rem;
}

.pricing .pricingcontainer .leftside,
.pricing .pricingcontainer .rightside {
    width: 100%;
    box-shadow: 0 0 5px var(--color-gray);
}

.pricing .pricingcontainer .leftside p,
.pricing .pricingcontainer .rightside p {
    border-bottom: 2px solid var(--color-light-gray);
    padding: 2rem 0;
    font-size: 1.4rem;
}

.pricing .pricingcontainer .leftside p span,
.pricing .pricingcontainer .rightside p span {
    font-weight: 600;
}

.pricing .pricingcontainer .leftside p:nth-child(1) {
    background-color: #616161;
}

.pricing .pricingcontainer .rightside p:nth-child(1) {
    background-color: #f44236;
}

.pricing .pricingcontainer .leftside p:nth-child(1),
.pricing .pricingcontainer .rightside p:nth-child(1) {
    color: var(--color-white);
    font-size: 2rem;
}

.pricing .pricingcontainer .leftside p:nth-child(6),
.pricing .pricingcontainer .rightside p:nth-child(6) {
    font-size: 2.5rem;
}

.pricing .pricingcontainer .leftside p:last-child,
.pricing .pricingcontainer .rightside p:last-child {
    background-color: #f1f1f1;

    button {
        background-color: var(--color-black);
        color: var(--color-white);
        font-size: 1.4rem;
        padding: 1rem 1.8rem;
    }
}

/* Footer section */

footer {
    background-color: var(--color-light-gray);
    padding: 4rem 0;
    text-align: center;
}

footer p:first-child {
    font-size: 2rem;
    margin-bottom: 2rem;
}

footer p:last-child {
    font-size: 1.5rem;
}

@media screen and (min-width: 800px) {

    .hero .go-download {
        position: absolute;
        top: calc(50% + 3.5rem);
        left: 3rem;
        width: fit-content;
        padding: 0.5rem 8rem;
        z-index: 1;
        border-radius: 0.4rem;
        font-size: 1.6rem;
    }

    .hero .take-tour {
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translate(0, -50%);
        width: fit-content;
        padding: 1rem 2rem;
    }

    .hero .take-tour p {
        padding: 0;
    }

    .popup {
        display: block;
    }

    .the-app {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .the-app .leftside {
        width: 66%;
    }

    .the-app .rightside {
        width: 33%;
    }

    .the-app .leftside p:nth-child(5) {
        text-align: left;
        padding: 1rem 2rem;
        width: fit-content;
        background-color: var(--color-light-gray);
    }

    .clarity .claritycontainer {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .clarity .claritycontainer .leftside {
        display: block;
        width: 33%;
    }

    .clarity .claritycontainer .rightside {
        width: 66%;
    }

    .features .cardcontainer div:nth-child(9),
    .features .cardcontainer div:nth-child(10),
    .features .cardcontainer div:nth-child(11),
    .features .cardcontainer div:nth-child(12) {
        display: block;
    }

    .pricing .pricingcontainer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .pricing .pricingcontainer .leftside,
    .pricing .pricingcontainer .rightside {
        width: 49%;
    }
}